.page {
  margin-top: 10vh;
  padding-left: clamp(20px, 10vw, 150px);
  padding-right: clamp(20px, 10vw, 150px);

  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.AboutMe{
  gap: 20px;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  h1{
    font-size: clamp(2rem, 5vw, 3rem);
  }

  p{
    font-size: clamp(1rem, 2vw, 1.25rem);
    color: #cccccc;
    line-height: 2;
  }
}

.painting {
  position: relative; 
  width: 100%; 
  max-width: 800px;
  height: 400px; 
  overflow: hidden; 
  border-radius: 20px; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.painting img { 
  transition: filter 0.3s ease; 
}

.painting:hover img {
  filter: blur(0px) contrast(1); 
}

@media (max-width: 700px) {
  .painting {
    display: none;
  }

  .AboutMe{
    max-width: none;
  }
}

@media (max-width: 1200px) {
  .page{
    padding-left: 20px;
    padding-right: 20px;
  }
}